/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Reuseable Classes */
.container {
  margin: 65px 150px;
}
.display-block {
  display: block;
}
button {
  border: none;
  background-color: #e02c6d;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 0.9rem;
}
/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
}
.hero-section h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}
.hero-section > article > h1 > span {
  display: block;
}
.hero-section p {
  width: 550px;
  padding: 8px 0 15px 0;
}
.fa-arrow-right {
  padding-left: 5px;
}
/* Products Section */
.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}
.products-section h1 {
  text-align: center;
}
.products-section article img {
  display: block;
  margin: 0 auto;
}
.products-section article {
  border-radius: 8px;
  box-shadow: 5px 10px 125px rgba(170, 170, 170, 0.397);
  padding: 15px 0;
}
.products-text-wrapper {
  padding: 20px 0 3px 15px;
}
.products-wrapper h2 {
  font-weight: 500;
}
.product-pricing {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 10px 0;
}
.fa-star {
  color: orange;
  font-size: 0.8rem;
}

.rating span {
  display: inline-block;
  padding-left: 8px;
  color: #5e6366;
}
.shipping-info {
  color: #787885;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1px 0 5px 0;
}
.see-more {
  width: 1168px;
  display: flex;
  justify-content: end;
  margin-top: 30px;
}
.see-more a {
  text-decoration: none;
  color: #e02c6d;
}
/* Package Pricing */
.package-pricing {
  display: flex;
  justify-content: center;
  gap: 50px;
}
/* .package-pricing h1,
.package-pricing p {
  text-align: center;
} */
.package-pricing h1 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.price-cross {
  text-decoration: line-through;
}
.package-pricing ul {
  list-style: none;
}
.package-pricing article {
  border-radius: 10px;
  padding: 50px 30px;
}

#premium-pricing-section {
  background-color: #452ce0;
  color: white;
}
#basic-pricing-section {
  background-color: #2ce09f;
}
.package-pricing-button {
  margin-top: 20px;
}

.package-pricing ul li {
  font-size: 1.2rem;
  line-height: 1.8;
}
.package-pricing ul li:last-child {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  font-weight: 700;
}
/* Footer */
footer {
  text-align: center;
  background-color: #0a0826;
  color: white;
  margin-top: 70px;
  padding: 30px;
}
.social-media-links {
  padding-top: 8px;
}
.social-media-links i {
  font-size: 1.3rem;
}
.social-media-links a {
  padding-right: 20px;
  color: white;
}
