/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Reuseable Classes */
.container {
  margin: 65px 150px;
}
.display-block {
  display: block;
}
button {
  border: none;
  background-color: #e02c6d;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 0.9rem;
}
/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
}
.hero-section h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}
.hero-section > article > h1 > span {
  display: block;
}
.hero-section p {
  width: 550px;
  padding: 8px 0 15px 0;
}
.fa-arrow-right {
  padding-left: 5px;
}
/* Products Section */
.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}
.products-section h1 {
  text-align: center;
}
.products-section article img {
  display: block;
  margin: 0 auto;
}
.products-section article {
  border-radius: 8px;
  box-shadow: 5px 10px 125px rgba(170, 170, 170, 0.397);
  padding: 15px 0;
}
.products-text-wrapper {
  padding: 20px 0 3px 15px;
}
.products-wrapper h2 {
  font-weight: 500;
}
.price {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 10px 0;
}
.fa-star {
  color: orange;
  font-size: 0.8rem;
}

.rating span {
  display: inline-block;
  padding-left: 8px;
  color: #5e6366;
}
.shipping-info {
  color: #787885;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1px 0 5px 0;
}
.see-more {
  width: 1168px;
  display: flex;
  justify-content: end;
  margin-top: 30px;
}
.see-more a {
  text-decoration: none;
  color: #e02c6d;
}
